.user-card{
    max-width: 1000px;
    margin: auto;
    padding: 13px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 30px;
}
.grid-photo{
    height: 100%;
    display: grid;
    grid-template-columns: minmax(150px, 200px) minmax(150px, 200px);
    gap: 30px;
}

@media(max-width: 700px){
    .grid-photo{
        gap: 15px;
    }
}

@media(max-width: 425px){
    .grid-photo{
        gap: 10px;
        grid-template-columns: minmax(120px, 200px) minmax(120px, 200px);
    }
}